@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Inter', sans-serif;
}
.cont
{
    position:absolute;
    top: 0; 
    left: 0;
    width: 90vw;
    height: 100vh;
    background: rgba(8, 87, 134, 0.87);
    display: flex;
    flex-direction: column;
    grid-gap: 75px;
    z-index: 10;
    padding-top: 30px;
}

.cont > p 
{
    font-size: 22px;
    padding: 14px 30px;
    background: rgba(8, 87, 134, 0.83);
    border-radius: 20px;
    color: white;
}