nav{
    background-color: #ECF8FF;
    left: 110px;
    text-align: center;
    width: 360px;
    height: 84px;
    }

.email{
    text-align: center;
    border-radius: 25px;
    margin-top: 10%;
    align-items: center;
    margin-left: 18%;
    height: 44px;
    justify-content: center;
    width: 253px;
    height: 54px;
    border: white;
}

.senha{
    text-align: center;
    border-radius: 25px;
    margin-top: 10%;
    align-items: center;
    margin-left: 18%;
    height: 44px;
    justify-content: center;
    width: 253px;
    height: 54px;
    border: white;
}
    

box{
    margin-bottom: 200px;
    align-items: center;
    text-align: center;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: white;
    top: 276px;
    margin-top: 26px;
}

.botao{
 
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
    border: #00BAE7;
    width: 117px;
    height: 47px;
    margin-top: 10%;
    margin-left: 35%;
    background: #00BAE7;
    border-radius: 20px;
}

.login{
    margin-top: 200px;
    width: 350px;
    height: 355.04px;
    background: rgba(0, 91, 144, 0.7);
    border-radius: 25px;

}

nav{
    color: black;
    margin-bottom: 100px;
}



#loginBody{
    
    background-image: url('cientista_1.png');
    width: 100%;
    background-repeat: no-repeat;
}

.cadastre{
    border: 0;
    background: fixed;
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    font-size: large;
    text-decoration: underline;
    color: black;
}